<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious Foods!</h1>
    @{ string[] food = {"Apple Pie", "Burittos", "Clams Casino","Donuts"};
        foreach(string i in food)
        {  
            if(i == "Clams Casino")
            {
                <p style="color: red;">@i</p>
            }else
            {
                <p>@i</p>
            }
            
        }
    
    }
</body>
</html>
